html {
    box-sizing:
    border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    padding-left: 37%;
    padding-top: 10%;
    margin: 0;
    background-color: peachpuff;
}

.wrapper {
    width: 400px;
    background-color: black;
    color: white;
}
.calc-button-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 0.5%;
}
.screen {
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    padding: 20px 5px;
}
.calc-button {
    size:large;
    background: #d8d9db;
    color: black;
    border: none;
    font-size: 40px;
    height: 100px;
    flex-basis: 24.5%;
}
.calc-button:hover {
    background-color: #ebebeb;
}
.calc-button:active {
    background-color: #bbbcbe;
}
.triple {
    flex-basis: 74.8%;
}
.double {
    flex-basis: 49.7%;
}
.calc-button:last-child {
    background-color: orange;
    color: white;
}
.calc-button:last-child:hover {
    background-color: #dfb07e;
}



